{% load staticfiles %}
{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoffeHangout with your valentine</title>
    <link rel="shortcut icon" href="{% static 'valentine/img/hrt.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'valentine/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--ladda-->
    <link rel="stylesheet" href="{% static 'valentine/dist/ladda.min.css' %}">  
    <script src="{% static 'valentine/dist/spin.js' %}"></script>
        <script src="{% static 'valentine/dist/ladda.js' %}"></script>


    <!-- Custom CSS -->
    <link href="{% static 'valentine/css/grayscale.css' %}" rel="stylesheet">
    <link href="{% static 'valentine/css/facebook_button.css' %}" rel="stylesheet">
   

    <!-- Custom Fonts -->
    <link href="{% static 'valentine/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59748878-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="page-top" data-spy="scroll" style="ba">
    <div class="intro" id="middle_page">
        <div class="intro-body" >
            <div class="container">
                <form action="/register/" method="post" class="form" role="form" name="userform" id="userform">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <img src="{{profile_pic.data.url}}" height="150" width="150" />
                        </div>
                        
                        <div class="col-md-4 col-lg-4 ">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <h3>Your details</h3>
                                    <input class="form-control" name="fbid0" id="fbid0" placeholder="Facebook username" type="text" disabled value='{{ user.get_full_name|default:user.username }}' required /><br>
{% if user.email %}  
                                  <input class="form-control" name="mailid0" id="mailid0" placeholder="Your mail-id" type="email" value="{{ user.email }}" required disabled  autofocus/>
{% else %}
				<input class="form-control" name="mailid0" id="mailid0" placeholder="Your mail-id" type="email" value="{{ user.email }}"  required autofocus/>

{% endif %}

                                </div>        
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 ">
                            <p><br><BR>
                               <a  href="{% url 'valentine:logout' %}" class="btn btn-social">
                                  <i class="fa fa-sign-out"></i> Logout
                                </a><br>
                            </p> 
                        </div>
                        
                    </div>
                <hr>
                    <div class="row">               
                        <div class="col-md-8 col-lg-8 col-lg-offset-2" id="fields">
                            <h3>Your crush  details</h3>
                                <div class="row"> 
				    <div class="col-xs-12 col-md-4">
                                        <input class="form-control" name="name1" id="name1" placeholder="Crush name" required type="text" />
			            </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid1" id="mailid1" placeholder="Crush primary email" type="email" required />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid11" id="mailid11" placeholder="Crush alternative email" type="email" />
                                    </div> 
                                </div><br>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" id="add_fields_link">
                                        <a class="mylink">
                                            <div class="add_fields_desc">
                                                <p class="more_crush" >Not sure that the above person will respond?<br>Click here to add another crush</p>
                                            </div>
                                        </a>
                                    </div> 
                                </div>  
                                 
                                    
                                
<!-- description of extra fields --> 
                        
                                <div class="row second">
                                    <div class="col-xs-12 col-md-4">
                                        <input class="form-control" name="name2" id="name2" placeholder="Crush 2 name" type="text" />
                                    </div>
 
				    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid2" id="mailid2" placeholder="Crush 2 primary email" type="email" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid12" id="mailid12" placeholder="Crush 2 alternative email" type="email" />
                                    </div>
                                </div><br>
                                <div class="row third">
				    <div class="col-xs-12 col-md-4">
                                        <input class="form-control" name="name3" id="name3" placeholder="Crush 3 name" type="text"  />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid3" id="mailid3" placeholder="Crush 3 primary email" type="email" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid13" id="mailid13" placeholder="Crush 3 alternative email" type="email" />
                                    </div>
                                </div><br>
                                <div class="row fourth">
				    <div class="col-xs-12 col-md-4">
                                        <input class="form-control" name="name4" id="name4" placeholder="Crush 4 name" type="text"  />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid4" id="mailid4" placeholder="Crush 4 primary email" type="email" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid14" id="mailid14" placeholder="Crush 4 alternative email" type="email" />
                                    </div>
                                </div><br>
                                <div class="row fifth">
				    <div class="col-xs-12 col-md-4">
                                        <input class="form-control" name="name5" id="name5" placeholder="Crush 5 name" type="text"  />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid5" id="mailid5" placeholder="Crush 5 primary email" type="email" />
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" name="mailid15" id="mailid15" placeholder="Crush 5 alternative email" type="email" />
                                    </div>
                                </div> <br>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" id="remove_fields_link">      
                                        <a class="mylink2">
                                            <div class="remove_fields_desc">
                                                <p class="more_crush" >Have only one crush? Click here to remove extra fields</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
<!--submit button -->
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" >
                                           
                                    <input type="submit" class="btn btn-social"  value="Convey your feelings"/>
                                    
                                    <!--<button id="lad" class="ladda-button" data-color="blue" data-style="zoom-in" data-size="s">Convey our feelings</button-->
                                    </div> 

                                </div><br>
                        </div>
<!--spinner begin-->
                        <div class="col-sm-12 col-md-12 col-lg-12 spinner_place" >
                            <div class="row"> 
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <img src="img/heart1.gif" alt="Loading.."/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <p>
                                        Please wait..<br>
                                        We are searching matches by the email(s) provided by you.<br>
                                    </p>
                                </div>
                            </div>
<!--spinner close-->    </div>


<!--submit button -->                        
                        

                        

                    </div>            
                </form>

            </div> <!-- end of container-->
        </div>
    </div> 


    <!-- Footer >
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Imaginate 2015</p>
        </div>
    </footer -->


    
    <script>
        
       //var l = Ladda.create( document.querySelector( 'button' ) );
       //l.start();
       //l.stop();
       //l.toggle();
       //l.isLoading();
       //progress = Math.min( progress + Math.random() * 0.1, 1 );
       //l.setProgress( 0.5 );
    </script >

       




    <!-- jQuery -->
    <script src="{% static 'valentine/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'valentine/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'valentine/js/jquery.easing.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'valentine/js/grayscale.js' %}"></script>

</body>

</html>
 {% endblock %}
